.portafolio-2{
    align-items: center;
    
}
.quien{
  
    align-items: center;
    display: flex;
    justify-content: center;
}
.curriculum-botton{
  
    width: 40%;
}
.html1{
      
    transition: transform 2.5s;
}
.html1:hover{

    transform: scale(1.1);
     content: url('/imagen-junior_1.png'); 
}